<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.marketo.plugin"
        version="0.1.0">
 <name>MarketoPlugin</name>
 <description>Marketo plugin</description>
 <license>Apache</license>
 <keywords>phonegap, Marketo</keywords>

<js-module src="www/Marketo.js" name="MarketoPlugin">
  <clobbers target="window.marketo" />
</js-module>

<!-- android -->
<platform name="android">
  <config-file target="res/xml/config.xml" parent="/*">
    <feature name="MarketoPlugin">
      <param name="android-package" value="com.marketo.plugin.MarketoPlugin"/>
    </feature>
  </config-file>

  <source-file src="src/android/MarketoPlugin.java" target-dir="src/com/marketo/plugin" />
  <info>
    Register your application at Marketo.com for further documentation.
  </info>
</platform>

<!-- ios -->

<platform name="ios">
  <config-file target="config.xml" parent="/*">
    <feature name="MarketoPlugin">
      <param name="ios-package" value="MarketoPlugin"/>
    </feature>
  </config-file>
  <framework src="libsqlite3.dylib" />
  <framework src="libs/ios/Marketo.framework" />


  <header-file src="src/ios/MarketoPlugin.h"/>
  <source-file src="src/ios/MarketoPlugin.m"/>
  <info>
    Register your application at Marketo.com for further documentation.
  </info>
</platform>

</plugin>
