<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.marketo.plugin"
        version="0.6.0">
 <name>MarketoPlugin</name>
 <description>Marketo plugin</description>
 <license>Apache</license>
 <keywords>phonegap, Marketo</keywords>
 <preference name="APPLICATION_SECRET_KEY"/>

<js-module src="www/marketo.js" name="MarketoPlugin">
  <clobbers target="window.marketo" />
</js-module>

<!-- android -->
<platform name="android">
  
  <info>
    1.We are using application secret key ='$APPLICATION_SECRET_KEY' to configure your Marketo PhoneGap plugin for Android.
    2.Adding Marketo Activity, Marketo Boradcast Receiver.
    3.Adding required permission for push notification.
  </info>

  <config-file target="AndroidManifest.xml" parent="/manifest">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="$PACKAGE_NAME.permission.C2D_MESSAGE"/>
  </config-file>

  <config-file target="AndroidManifest.xml" parent="/manifest/application">

    <activity android:name="com.marketo.MarketoActivity" android:configChanges="orientation|screenSize">
      <intent-filter android:label="MarketoActivity">
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.BROWSABLE"/>
        <data android:scheme="mkto" android:host="add_test_device"/>
      </intent-filter>
    </activity>

    <receiver
      android:name="com.marketo.MarketoBroadcastReceiver"
      android:exported="true"
      android:permission="com.google.android.c2dm.permission.SEND">
      <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
        <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
        <category android:name="$PACKAGE_NAME"/>
      </intent-filter>
    </receiver>

    <service
      android:name="com.marketo.MarketoIntentService"
      android:exported="false"/>

  </config-file>

  <config-file target="res/xml/config.xml" parent="/*">
    <feature name="MarketoPlugin">
      <param name="android-package" value="com.marketo.plugin.MarketoPlugin"/>
    </feature>
  </config-file>

  <!-- your configuration elements, references, source files, etc... -->
   <framework src="src/android/Marketo.gradle" custom="true" type="gradleReference" />
   <resource-file src="aar/MarketoRelease.aar" target="aar/MarketoRelease.aar"/>

  <source-file src="src/android/MarketoPlugin.java" target-dir="src/com/marketo/plugin" />
  <info>
    Successfully added Marketo PhoneGap Plugin.
  </info>

</platform>

<!-- ios -->
<platform name="ios">
  <config-file target="config.xml" parent="/*">
    <feature name="MarketoPlugin">
      <param name="ios-package" value="MarketoPlugin"/>
    </feature>
  </config-file>

  <!-- for test devices add this -->
  <config-file target="*-Info.plist" parent="CFBundleURLTypes">
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>mkto-$APPLICATION_SECRET_KEY</string>
        </array>
      </dict>
    </array>
  </config-file>

  <header-file src="src/ios/MarketoPlugin.h"/>
  <source-file src="src/ios/MarketoPlugin.m"/>


<source-file src="src/ios/AppDelegate+Marketo.m" />
<header-file src="src/ios/AppDelegate+Marketo.h" />
 


  <!-- system frameworks -->
  <framework src="libsqlite3.dylib" />

  <!-- Marketo framework -->
  <framework src="framework/Marketo.framework" custom="true" />

  <resource-file src="framework/MKTResources.bundle"/>

  <info>
      1. We are using application secret key ='$APPLICATION_SECRET_KEY' to configure your Marketo PhoneGap plugin for iOS.
      2. Adding new URL schedule to handle test devices registration.
      3. Successfully added Marketo PhoneGap Plugin for iOS.
  </info>

</platform>

</plugin>
